html,
body,
#root {
  margin: 0;
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  min-height: 100vh;
}

.chat-container {
  height: 600px; /* Ya jo height aap rakhna chahein */
  width: 100%;
}